.cards__item {
	display: flex;
  	padding: 1rem;
 	width: 100%;
	@media(min-width: 48rem) {
		width: 45%;
	}
	@media(min-width: 66rem) {
		width:32%;
	}
}
.stack-2 {
	@media(min-width: 66rem) {
		width:45%;
	}
}
.stack-3 {
	@media(min-width: 48rem) {
		width: 45%;
	}
	@media(min-width: 66rem) {
		width:32%;
	}

}
.stack-4 {
	@media(min-width: 48rem) {
		width: 45%;
	}
	@media(min-width: 86rem) {
		width:24%;
	}
}
.card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: transparentize(#fff,.1);
	box-shadow: 0px 2px 5px 0px	rgba(0, 0, 0, 0.4);
	border-radius: 0 !important;
	width: 100%;
	
	img {
		max-width: 100%;
		height: auto;
	}
	h2, h3, h4, h5, h6 {
	  font-size: 24px;
	  line-height: 28px;
	}
	p, ul, ol, h2, h3, h4 {
		&:last-child {
			margin-bottom:0;
		}
	}
	.button {
		margin:10px auto;
	}
}
.card-animated {
	transition:transform 300ms ease-in-out;
	&:hover, &:focus {
		transform: translateY(-10px);
		transform: scale(1.1);
	}
}

.card-link {
	&:hover {
		text-decoration: none !important;
	}
}